body {
    background-color: darkseagreen;
    font-family: Garamond, serif;
}

h1 {
    text-align: center;
    font-size: 6vh;
}
h2 {
    font-size: 4vh;
}
a {
    display: block;
    text-align: center;
    font-size: 3vh;
}
section {
    font-size: 3vh;
}
img {
    margin: auto;
    display: block;
}
li {
    font-size: 3vh;
}

#intro {
    text-align: center;
    margin: 15px;
}

main {
    margin: 0 auto;
    background-color: floralwhite;
    border-radius: 5%;
    border: 1px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(98, 131, 98);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    main {
        width: 90vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main {
        width: 90vw;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main {
        width: 60vw;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        width: 55vw;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main {
        width: 45vw;
    }
}

nav {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
    border-bottom: solid 2px rgb(98, 131, 98);
    font-size: 3.5vh;
}

nav a {
    padding-bottom: 5px;
    text-decoration: none;
    margin: 1vw;
}

a:visited,
a:active {
    color: darkgreen;
}

#cv {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.rightside {
    align-self: flex-end;
    width: 60%;
}

.leftside {
    width: 60%;
}

.cv-section {
    background-color: darkseagreen;
    padding: 5px 35px;
    margin: 5px;
    height: 15%;
    box-shadow: 5px 5px 10px rgb(98, 131, 98) inset;
    opacity: 0;
    animation: mymove 5s forwards; 
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

a:hover {
    color: slategray;
}

@keyframes mymove {
  from {
    opacity: 0;
}
  to {
    opacity:1;
}
}
/*.animate {
     animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count:initial;
  animation-direction: alternate;
  background-color: black;
}
@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}*/